<%= form_with(model: [@plan, @disease], local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="form-wrap">
    <table>
      <tr>
        <td>がん種</td><td>サブタイプ等</td><td>治療目的</td><td></td>
      </tr>
      <tr>
        <td><%= f.collection_select(:cancer_id, Cancer.all, :id, :name, {}, {class:"select-box", id:"disease-cancer"}) %></td>
        <td><%= f.collection_select(:other_id, Other.all, :id, :name, {}, {class:"select-box", id:"disease-other"}) %></td>
        <td><%= f.collection_select(:purpose_id, Purpose.all, :id, :name, {}, {class:"select-box", id:"disease-purpose"}) %></td>
        <td><%= f.submit "登録", class:"submit-btn" %></td>
      </tr>
    </table>
  </div>
<% end %>