<h1>疾患一覧</h1>
<br>
<h3>疾患新規登録</h3>
<%= render 'new_edit' %>
<br>
<h2>疾患一覧</h2>
<div class="diseases">
  <% @diseases.each do |disease| %>
    <div class="disease">
      <a><%= link_to "編集", edit_disease_path(disease.id) %>　</a>
      <a class="cancer-name">がん種：<%= disease.cancer.name %>　　</a>
      <a class="disease-other">サブタイプ等：<%= disease.other.name %>　　</a>
      <a class="disease-purpose">治療目的：<%= disease.purpose.name %>　　</a>
    </div>
  <% end %>
</div>