<%= form_with model: @patient, local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="form-wrap">
    <div class="patient-name">
      <p>患者名(イニシャル：半角英大文字２文字)</p>
      <%= f.text_field :name, id:"patient-name", placeholder:"イニシャル(半角英大文字2文字)", maxlength:"2" %>
    </div>
    <div>
      <p>性別</p>
      <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box", id:"patient-gender"}) %>
    </div>
    <div class="input-birth-wrap">
      <p>生年月日</p>
      <%= raw sprintf(
        f.date_select(
          :birthday,
          class:"select-birth",
          id:"birth-date",
          use_month_numbers: true,
          prompt:'--',
          start_year: 1900,
          end_year: (Time.now.year),
          date_separator: '%s'),
        "<a> 年 </a><br />", "<a> 月 </a><br />") + "<a> 日 </a><br />" %>
    </div>
    <div>
      <p>その他患者情報<p>
      <%= f.text_area :text, id:"patient-text", placeholder:"患者情報を入力してください" %>
    </div>
    <div>
      <%= f.submit "登録", class:"submit-btn" %>
    </div>
  </div>
<% end %>