<h1>患者一覧</h1>
<div class="patient-new">
  <%= link_to '患者新規登録', new_patient_path %>
</div>

<%= render 'search' %>

<h3>登録患者一覧</h3>
<div class="patients">
  <div class="patient-items">
    <ul class="patient-item-lists">
      <li class="patient-name">患者名</li>
      <li class="patient-gender">性別</li>
      <li class="patient-age">年齢</li>
    </ul>
  </div>
  <% @patients.each do |patient| %>
    <div class="patient">
      <%= link_to (patient_path(patient.id)) do %>
        <ul class="patient-item-lists">
          <li class="patient-name"><%= patient.name %><li>
          <li class="patient-gender"><%= patient.gender.name %>性</li>
          <li class="patient-age"><%= ((Date.today.strftime("%Y%m%d").to_i - patient.birthday.strftime("%Y%m%d").to_i) / 10000) %>歳<li>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>