<h1>患者一覧</h1>
<%= link_to '患者新規登録', new_patient_path %>
<div class="patients">
  <% @patients.each do |patient| %>
    <p> ---------- </p>
    <a class="patient-name"><%= patient.name %></a>
    <a class="patient-gender"><%= patient.gender.name %></a><br />
    <div class="patient-birthday">
      <%= patient.birthday %>
    </div>
    <%= link_to "詳細", patient_path(patient.id) %>
  <% end %>
</div>