<h3>レジメン検索</h3>
<%= search_form_for @q, url: plans_search_path do |f| %>
  <%= f.search_field :name_cont, placeholder: "レジメンを検索する" %>
  <%= f.submit '検索' %>
<% end %>
<br />

<h3>検索結果</h3>
<div class="plans">
  <% if @results.length != 0 %>
    <% @results.each do |result| %>
      <div class="plan">
        <%= link_to "詳細", plan_path(result.id) %>
        <a>　</a>
        <a class="plan-name"><%= result.name %></a>
      </div>
    <% end %>
  <% else %>
    該当するレジメンはありません
  <% end %>
</div>