<h2>レジメン詳細</h2>
<ul class="plan-links">
  <li class="back"><%= link_to "レジメン一覧に戻る", plans_path %></li>
  <li class="plan-edit"><%= link_to "レジメンを編集", edit_plan_path(@plan.id) %></li>
  <li class="plan-destroy"><%= link_to "レジメンを削除", plan_path(@plan.id), method: :delete %></li>
</ul>

<div class="plan-info">
  <div >
    <h2 class="plan-name">
      <%= @plan.name %>
    </h2>
    <p>１コース<%= @plan.period %>日間</p>
  </div>
</div>

<table>
  <tr>
    <th></th>
    <th>薬品名</th>
    <th>略号</th>
    <th>用量</th>
    <th>単位</th>
    <th>投与日</th>
  </tr>
  <tr>
    <td>薬品１</td>
    <td><%= @plan.medicine_name1 %></td>
    <td><%= @plan.abbreviation1 %></td>
    <td class="plan-dose"><%= @plan.dose1 %></td>
    <td><%= @plan.unit1.name %></td>
    <td><%= @plan.schedule1 %></td>
  </tr>

  <% if @plan.medicine_name2 != "" %>
    <tr>
      <td>薬品２</td>
      <td><%= @plan.medicine_name2 %></td>
      <td><%= @plan.abbreviation2 %></td>
      <td class="plan-dose"><%= @plan.dose2 %></td>
      <td><%= @plan.unit2.name %></td>
      <td><%= @plan.schedule2 %></td>
    </tr>
  <% end %>

  <% if @plan.medicine_name3 != "" %>
    <tr>
      <td>薬品３</td>
      <td><%= @plan.medicine_name3 %></td>
      <td><%= @plan.abbreviation3 %></td>
      <td class="plan-dose"><%= @plan.dose3 %></td>
      <td><%= @plan.unit3.name %></td>
      <td><%= @plan.schedule3 %></td>
    </tr>
  <% end %>

  <% if @plan.medicine_name4 != "" %>
    <tr>
      <td>薬品４</td>
      <td><%= @plan.medicine_name4 %></td>
      <td><%= @plan.abbreviation4 %></td>
      <td class="plan-dose"><%= @plan.dose4 %></td>
      <td><%= @plan.unit4.name %></td>
      <td><%= @plan.schedule4 %></td>
    </tr>
  <% end %>

  <% if @plan.medicine_name5 != "" %>
    <tr>
      <td>薬品５</td>
      <td><%= @plan.medicine_name5 %></td>
      <td><%= @plan.abbreviation5 %></td>
      <td class="plan-dose"><%= @plan.dose5 %></td>
      <td><%= @plan.unit5.name %></td>
      <td><%= @plan.schedule5 %></td>
    </tr>
  <% end %>

  <% if @plan.medicine_name6 != "" %>
    <tr>
      <td>薬品６</td>
      <td><%= @plan.medicine_name6 %></td>
      <td><%= @plan.abbreviation6 %></td>
      <td class="plan-dose"><%= @plan.dose6 %></td>
      <td><%= @plan.unit6.name %></td>
      <td><%= @plan.schedule6 %></td>
    </tr>
  <% end %>

  <% if @plan.medicine_name7 != "" %>
    <tr>
      <td>薬品７</td>
      <td><%= @plan.medicine_name7 %></td>
      <td><%= @plan.abbreviation7 %></td>
      <td class="plan-dose"><%= @plan.dose7 %></td>
      <td><%= @plan.unit7.name %></td>
      <td><%= @plan.schedule7 %></td>
    </tr>
  <% end %>

  <% if @plan.medicine_name8 != "" %>
    <tr>
      <td>薬品８</td>
      <td><%= @plan.medicine_name8 %></td>
      <td><%= @plan.abbreviation8 %></td>
      <td class="plan-dose"><%= @plan.dose8 %></td>
      <td><%= @plan.unit8.name %></td>
      <td><%= @plan.schedule8 %></td>
    </tr>
  <% end %>

</table>


<h4>支持療法</h4>
<table class="support">
  <tr>
    <td>催吐性リスク</td><td><%= @plan.emetic.name %></td>
  </tr>
  <tr>
    <td>NK1</td><td><%= @plan.nk1 %></td>
  </tr>
  <tr>
    <td>DEX</td><td><%= @plan.dex %></td>
  </tr>
  <tr>
    <td>H1blocker</td><td><%= @plan.h1blocker %></td>
  </tr>
  <tr>
    <td>H2blocker</td><td><%= @plan.h2blocker %></td>
  </tr>
  <tr>
    <td>その他支持薬</td><td><%= @plan.other_medicine %></td>
  </tr>
</table>

<div>
  <p>補足<p>
  <%= @plan.text %>
  <% if @plan.text == "" %>記載なし<% end %>
</div>
<br />



<h3>レジメンの適応疾患一覧</h3>
<% if @diseases.length == 0 %>
  <div>まだ登録されていません。</div>
  <br />
<% else %>
  <table>
    <tr>
      <td></td><td>がん種</td><td>サブタイプ等</td><td>治療目的</td>
    </tr>
    
    <% @diseases.each do |disease| %>
      <tr>
        <td><%= link_to '削除', plan_disease_path(@plan.id, disease.id), method: :delete %></td>
        <td><%= disease.cancer.name %></td>
        <td><%= disease.other.name %></td>
        <td><%= disease.purpose.name %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h4>適応疾患を追加する</h4>
<%= render 'diseases/new' %>