<!DOCTYPE html>
<html>
  <head>
    <title>けもかん</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <a><%= link_to "TOP(患者一覧)", root_path %>　　</a>
        <a><%= link_to "レジメン一覧", plans_path %>　　</a>
        <a class="user-name"><%= current_user.name %>さんがログイン中　　</a>
        <a><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></a>
      <% end %>
    </header>

    <%= yield %>

  </body>
</html>
